:root {
    /*Paleta de colores*/
    --titulo: rgb(168, 16, 16);
    --parrafo: rgb(31, 2, 2);
    --fondo: rgb(255, 255, 255);
    --blanco: rgb(255, 255, 255);
    --negro: rgba(36, 36, 36, 0.658);
    --celeste: rgba(143, 214, 255, 0.74);
    --rojo: rgba(255, 58, 58, 0.781);

    /*Paleta de tamaños*/
    --tamaño-principal: 33.8rem;
}

html {
    font-size: 70%;
    background-color: var(--fondo);
}

body {
    font-size: 20px;
    font-family: 'Aref Ruqaa Ink', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');

.titulo{
    text-align: center;
}
.encabezado {
    background-image: url(../img/Entrada_Molino.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 300px;
    padding: 150px;
    padding-top: 15px;
    position: relative;
    width: 120rem;
    margin: 0 auto;
}

.encabezado-img {
    background-repeat: repeat;
    height: 200px;
    background-color: var(--celeste);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;

}

.navegacion-principal {
    background-color: var(--celeste);
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0 auto;
    width: 140rem;

}

@media (min-width: 450px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: center;
    }
}

.navegacion-principal a {
    background-color: var(--celeste);
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15%;
}


.navegacion-principal a:hover {
    background-color: rgba(0, 162, 255, 0.76);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
}
.hero {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 325px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.hex {
    width: 150px;
    height: 86px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
    position: relative;
    float: left;
    margin: 25px 5px;
    text-align: center;
    zoom: 2;
}

.hex.hex-gap {
    margin-left: 86px;
}

.hex a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
    position: absolute;
    top: 0;
    left: 0;
}

.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    overflow: hidden;
    backface-visibility: hidden;
}

.hex .corner-1 {
    z-index: -1;
    transform: rotate(60deg);
}

.hex .corner-2 {
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.hex .corner-1:before {
    transform: rotate(-60deg) translate(-87px, 0px);
    transform-origin: 0 0;
}

.hex .corner-2:before {
    transform: rotate(60deg) translate(-48px, -11px);
    bottom: 0;
}

/* Custom styles*/
.hex .inner {
    color: #eee;
}

.hex.hex-1 {
    background: #74cddb;
}

.hex.hex-2 {
    background: #f5c53c;
}

.hex.hex-3 {
    background: #80b971;
}

.icons {
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.icons-g {
    background-color: var(--celeste);
    font-size: 2rem;
    font-weight: 500;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
}

.descripcion {
    margin-left: 12%;
    margin-right: 12%;
    
}
.descripcion a{
    text-decoration: none;
    color: black;
}
.des {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 15px;
    padding-top: 25px;
    height: 300px;
}
    
.des-der-img {
    background-repeat: repeat;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 60%;
    position: relative;
    float: right;
    margin: 15px;
}

.des-der-txt {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: right;
    border-radius: 20px;
    background-color: #b5f5ff80;
    padding: 9px;
}

.des-izq-img {
    background-repeat: repeat;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 60%;
    position: relative;
    float: left;
    margin: 15px;
}

.des-izq-txt {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #b5f5ff80;
    padding: 9px;
}
.arce {
    margin-left: 12%;
    margin-right: 12%;
    
}
.arce-1 {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 15px;
    padding-top: 25px;
    height: 300px;
}
    
.arce-der-img {
    background-repeat: repeat;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 6%;
    position: relative;
    float: right;
    margin: 15px;
}

.arce-der-txt {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: right;
    border-radius: 20px;
    background-color: #b5f5ff80;
    padding: 9px;
}

.arce-izq-img {
    background-repeat: repeat;
    height: 250px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 6%;
    position: relative;
    float: left;
    margin: 15px;
}

.arce-izq-txt {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #b5f5ff80;
    padding: 9px;
}
.final{
    background-image: url(../img/Ortencias_2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 500px;
    position: relative;
    color: var(--blanco);
    margin-left: 12%;
    margin-right: 12%;
}
.contacto{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: var(--celeste);
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;


}
.cont-a{
    margin-left: 35%;
    width: 500px;
    height: 170px;
    
}
.cont-icon{
    float: left;
}
.cont-ind{
    
    font-size: 10px;
}

.cont-img{
    width: 500px;
    height: 150px;
    background-repeat: repeat;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    margin: 15px;
}
.footer {
    text-align: center;
    padding: 3px;
    background-color: var(--celeste);
    color: rgb(0, 0, 0);
    width: 140rem;
    margin: 0 auto;

}